@media (max-width: 480px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .home{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        margin: 100px 0 0 40px;
    }
    .home-wrapper{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-image: url("http://localhost:63342/project7/img/undraw_Mobile_application_mr4r%201.png");
        background-repeat: no-repeat;
        background-size: 50vh;
    }
    .home-img img{
        width: 0;
        height: 0;
    }
    .home-info{
        margin-top: 30px;
        font-size: 18px;
    }
    .home-hr{
        width: 32px;
        border: 2px solid #B7B3B3;
        background-color:  #B7B3B3 ;
        margin-top: 0;
    }
    .home-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 44px;
        color: #000000;
        text-shadow:  white 1px 5px 3px;
    }
}